@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.App {
  position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.chatfont {
  font-size: 14px;
  font-family: 'Open-Sans', sans-serif;
  text-shadow: 0 0 1px
}
